{% extends 'base.html' %}

{% block content %}
    <form>
      <label for="name_group">name:</label><br>
      <input type="text" id="name_group" name="name_group"><br>
      <label for="number_of_group">Number group:</label><br>
      <input type="text" id="number_of_group" name="number_of_group"><br>
        <button type="submit">Search</button>
    </form>

{% for group in groups_list %}
    {{group.id}}
    <a href="/groups/edit/{{ group.id }}">{{group.name_group}} {{group.number_of_group}}</a>
    <br>

{% endfor %}

{% endblock %}
